body {
	margin: 20px;
}

.icon {
    float: right;
		margin-top: -45px;
}

.list-group-item {
    list-style-type: none;
}

.spinner-gif {
	display: block;
    margin-left: auto;
    margin-right: auto
}
