body {
	margin: 20px;
}

img.icon {
    position: absolute;
    right: 10px;
    top: 25px;
}

.list-group-item {
    list-style-type: none;
}

.spinner-gif {
	display: block;
    margin-left: auto;
    margin-right: auto
}