<h3>{{name}}</h3>
<span class='address'>{{vicinity}}</span>
{{#if closingTime}}
	<div class='closingTime'>Open until {{closingTime}} today</div>
{{/if}}
<img src='{{icon}}' class='icon' width='53' height='53'>