<ul class='list-group'>
	{{#each .}}
	<li class='list-group-item'>
		<h3>{{name}}</h3>
		<span class='address'>{{vicinity}}</span>
		<img src='{{icon}}' width='53' height='53'>
	</li>
	{{/each}}
</ul>